<footer id="footer">
  <p id="links-footer">
    Desenvolvido por:
    <a href="https://www.linkedin.com/in/eduardo-m-58500113a/"
      >Eduardo Meurer</a
    >
    e
    <a href="https://www.linkedin.com/in/flamarion-fagundes-pinto-0b037b210/"
      >Flamarion Fagundes</a
    >
  </p>
</footer>
